@charset "UTF-8";
*{
    font-family: Poppins;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border-radius: border-box;
}

#cabeca{
    height: 40px;
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: white;
}
.home{
color: white;
padding: 10px;
}
.salao{
    display: grid;
}
.home:hover{
    color: yellow;
}
#saiba{
    height: 279px;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
    
}
.foto-meninas{

}
.sabendo{
text-align: center;

}
h1{
    text-align: center;
    font-size: 1.7em;
    padding-bottom: 10px;
}
.tt{
    color: rgba(255, 255, 0, 0.836);
}
.nome{
    border-radius: border-box;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 0, 0.733);
    padding-top: 10px;
    padding-bottom: 10px;
}
.botao{
   color: rgba(255, 255, 0, 0.911);
   border: 1px solid rgba(255, 255, 0, 0.705);
   padding: 5px;
}
h2{
    text-align: center;
   padding-bottom:100px ;
}
#servicos{
 padding: 100px;
 text-align: center;
}
.cuidados{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.produt{
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
    width: 300px;
    background-color: rgba(0, 0, 0, 0.774);
    display:flex ;
    flex-direction: column;
    justify-content: center;

}
.produt > p{
    background-color: yellow;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
   
}
.pcuida{
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.botao2{
    background-color: yellow;
    padding: 10px;
    color: black;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
}

